[Unit]
Description=zfsync mirror service
Requires=zfs-volumes.target
After=zfs-volumes.target
After=zfsync-snapshot.service
Wants=zfsync-prune.service
Before=zfsync-prune.service
ConditionPathExists=/etc/zfsync/mirror.conf

[Service]
Type=oneshot
User=zfsync
EnvironmentFile=/etc/zfsync/mirror.conf
ExecStart=nice -n 19 ionice -c 3 zfsync mirror $REMOTEHOST $DATASETS
# note the following prunes on the remote server (not locally)
ExecStartPost=nice -n 19 ionice -c 3 zfsync rprune $REMOTEHOST -f $DATASETS
