[Unit]
Description=zfsync sync between zfs zpools
Requires=zfs-volumes.target
After=zfs-volumes.target
ConditionPathExists=/etc/zfsync/config

[Service]
Type=oneshot
User=zfsync
EnvironmentFile=/etc/zfsync/config
ExecStart=zfsync snap $DATASETS
ExecStartPost=nice -n 19 ionice -c 3 zfsync mirror $SERVER $DATASETS
