[Unit]
Description=zfsync sync between zfs zpools
Requires=zfs-volumes.target
After=zfs-volumes.target

[Service]
Type=oneshot
User=zfsync
ExecStart=zfsync backup localhost source

[Install]
WantedBy=multi-user.target
