[Unit]
Description=zfsync prune service
Requires=zfs-volumes.target
After=zfs-volumes.target
After=zfsync-snapshot.service
After=zfsync-mirror.service
ConditionPathExists=/etc/zfsync/prune.conf

[Service]
Type=oneshot
User=zfsync
EnvironmentFile=/etc/zfsync/prune.conf
ExecStart=nice -n 19 ionice -c 3 zfsync prune -f $DATASETS
